In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [6]:
fuel_data = pd.read_csv(url)

In [7]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [8]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
fuel_data.shape

(29523, 11)

In [11]:
fuel_data_group = fuel_data.groupby('fuel_type_code_pudl')

In [15]:
fuel_data_group.sum()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,988354,17133514,1.626898e+10,177459.483188,576254.381,9.995814e+05,15275.11517
gas,1425666,23040664,5.562880e+10,11737.687844,156891.829,1.389252e+05,62126.34574
nuclear,87851,1638430,4.462058e+09,14382.174064,4053318.428,2.340864e+07,1404.14500
oil,913137,16186028,5.089737e+08,46887.135739,1361824.819,2.531352e+06,102402.57762
other,18448,334284,4.923388e+08,95.649646,3048.394,2.817538e+03,25899.18000
waste,68026,884492,5.168139e+07,150.452780,8607.492,8.120156e+03,362815.08200

In [19]:
unit_burned = fuel_data_group['fuel_cost_per_unit_burned']

In [21]:
unit_burned.describe()

,count,mean,std,min,25%,50%,75%,max
fuel_type_code_pudl,,,,,,,,
coal,8547.0,67.421830,943.771433,0.00,23.9585,33.3180,44.66800,44033.320
gas,11486.0,13.659397,163.286631,0.00,3.2300,4.6500,6.96000,10490.000
nuclear,818.0,4955.157002,14291.929749,0.00,1.6015,32.5200,50.85525,69785.215
oil,8064.0,168.877086,2406.101479,0.00,37.6100,68.9455,98.68925,139358.000
other,167.0,18.253856,29.016882,-119.04,2.6325,9.0640,20.05500,134.547
waste,441.0,19.518122,29.988017,-276.08,10.3350,21.9330,32.65000,132.291

In [22]:
import seaborn as sb

In [25]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [26]:
unit_delivered = fuel_data_group['fuel_cost_per_unit_delivered']

In [27]:
unit_delivered.describe()

,count,mean,std,min,25%,50%,75%,max
fuel_type_code_pudl,,,,,,,,
coal,8547.0,116.951141,4043.732781,-40.725,21.7400,31.407,43.38050,270604.000
gas,11486.0,12.095172,157.032849,0.000,2.8300,4.295,6.49250,10490.000
nuclear,818.0,28616.915039,411287.325331,0.000,0.0000,0.000,28.91900,7964521.000
oil,8064.0,313.907691,9015.713229,-874.937,32.1545,58.240,95.74075,730166.000
other,167.0,16.871485,27.659197,-118.340,2.4830,8.500,19.85300,132.209
waste,441.0,18.413052,27.966921,-174.670,7.2400,21.560,31.33000,121.020

In [28]:
fuel_data_group_year = fuel_data.groupby('report_year')

In [31]:
fuel_data_group_year["fuel_cost_per_unit_delivered"].describe()

,count,mean,std,min,25%,50%,75%,max
report_year,,,,,,,,
1994,1235.0,63.636060,1288.748659,-58.800,2.32600,13.1560,30.91000,45115.000
1995,1201.0,32.735269,173.849821,-85.640,1.80600,5.1140,29.79000,2396.770
1996,1088.0,9196.705948,244767.437600,-44.050,2.93500,16.2700,30.57250,7793482.000
1997,1094.0,11140.197239,256945.853368,-38.972,2.94650,14.4515,29.10400,7964521.000
1998,1107.0,287.154420,8172.214382,-43.747,2.40000,3.4750,24.78000,270604.000
1999,1050.0,25.551627,137.826776,-32.970,2.52700,3.5750,26.12300,2891.100
2000,1373.0,985.362877,31576.526616,-174.670,4.37000,19.4700,36.28800,1168000.000
2001,1356.0,60.050396,947.767770,-37.790,4.35950,21.2150,35.78250,34381.000
2002,1205.0,47.594361,906.266622,-60.290,3.72400,17.8940,31.96000,31416.000
2003,1211.0,55.663493,996.166868,-118.340,5.93000,21.9670,37.44100,34518.000
2004,1192.0,139.524275,3848.790040,-313.410,6.51500,20.9000,45.84025,132884.000
2005,1269.0,41.438184,247.442252,-31.501,8.68100,23.8610,62.13000,8651.000
2006,1243.0,38.657484,68.938342,-24.295,7.58500,21.7870,68.49700,1431.000
2007,1264.0,43.325023,148.371871,-488.054,7.48925,22.9085,72.66500,4850.872
2008,1228.0,58.588197,314.507364,-874.937,9.28175,23.5950,80.97925,10490.000
2009,1222.0,652.694163,20888.844544,0.000,5.38550,26.6120,71.45950,730166.000
2010,1261.0,91.862105,1282.253549,-7.295,5.41400,24.9000,86.36000,44033.320
2011,1240.0,59.774667,296.896180,-43.419,5.18075,24.5155,92.69675,9545.000
2012,1243.0,60.994502,313.148171,-91.900,3.56550,25.4000,99.53500,10129.000
2013,1199.0,172.307591,3917.510920,-93.470,4.61050,24.1770,90.49000,135315.000
2014,1171.0,192.737183,4019.515097,0.000,5.50200,29.3400,103.24750,136410.000
2015,1093.0,326.535511,5571.037893,-170.187,3.38000,12.0690,67.46000,140706.000
2016,1034.0,103.901761,2163.468884,-40.725,3.08925,6.3795,54.04875,69440.000
2017,993.0,46.196861,209.871096,0.000,3.35100,6.1190,62.93000,3584.335
2018,951.0,499.269966,8976.783325,0.000,3.33000,5.8400,70.43900,245652.000

In [32]:
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [36]:
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [38]:
fuel_data_group_year["fuel_cost_per_unit_burned"].describe()

,count,mean,std,min,25%,50%,75%,max
report_year,,,,,,,,
1994,1235.0,213.191996,2639.254133,-57.490,2.66700,20.2900,35.76650,44009.190
1995,1201.0,354.422555,3793.484721,-85.760,2.27000,18.8000,34.42000,62609.000
1996,1088.0,79.434995,1414.289963,-45.130,3.05525,18.9640,31.47050,33150.000
1997,1094.0,149.482132,2210.821082,-38.966,3.04825,17.9945,31.09000,48164.000
1998,1107.0,126.683519,2099.842843,-43.712,2.66650,11.8300,29.70950,54376.000
1999,1050.0,120.053605,1497.959005,-33.014,2.84600,12.3340,29.39775,31640.600
2000,1373.0,237.797111,2761.109267,-276.080,4.84000,25.1500,34.43000,51698.000
2001,1356.0,133.013010,1697.434281,-37.809,5.09550,27.0745,37.09475,34652.000
2002,1205.0,101.179365,1577.523780,-59.680,4.17400,24.0600,33.64500,35486.000
2003,1211.0,123.183919,1673.762142,-119.040,6.54950,26.8200,38.04300,34518.000
2004,1192.0,154.897398,1897.420633,-30.032,7.35400,27.9165,43.08850,31825.840
2005,1269.0,107.111221,1521.842893,-31.501,9.51600,29.9400,56.30100,35948.000
2006,1243.0,151.361249,2063.586510,-24.295,8.67650,30.5700,66.81000,43851.000
2007,1264.0,202.622082,2534.590480,-3.810,8.59525,32.0400,72.04200,45486.000
2008,1228.0,255.954415,2718.547425,-3.330,10.56875,33.5205,81.93800,45578.820
2009,1222.0,215.699318,2626.629546,0.000,7.14450,34.8540,78.81250,49650.832
2010,1261.0,262.951203,3234.104603,0.000,6.46200,35.2590,86.07300,64313.100
2011,1240.0,301.754519,4039.739595,-70.884,5.95875,35.5685,94.08750,83538.000
2012,1243.0,258.804138,3429.645744,0.000,4.52500,38.0310,100.79800,65137.588
2013,1199.0,255.991023,3496.961958,0.000,5.23950,38.3180,101.62250,61717.765
2014,1171.0,442.359068,5754.143709,0.000,6.31050,38.6790,108.24800,139358.000
2015,1093.0,237.933197,3151.231506,0.000,4.11400,32.1870,84.42000,53889.540
2016,1034.0,247.083959,3317.538986,-3.946,3.56000,27.3700,64.20800,55098.539
2017,993.0,246.281796,3134.321819,0.000,3.96000,28.4830,70.75000,51417.892
2018,951.0,232.992036,2810.868978,0.000,3.79550,24.7380,78.67300,44738.780